body {
    background-image: url('https://e0.pxfuel.com/wallpapers/656/877/desktop-wallpaper-bright-bright-pc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  